.trusted {
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    color: #57687d;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
    margin-bottom: 12px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &__item {
    margin: 0 40px;
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  .trusted {
    &__container {
      flex-flow: row wrap;
      align-items: center;
    }
    &__item {
      margin-top: 20px;
    }
  }
}
