.community {
  .block-left,
  .block-right {
    padding: 95px 0 55px;
  }
  .block-left {
    .col-lg-5 {
      margin-top: 110px;
    }
  }
  .block-right {
    .col-lg-5 {
      margin-top: 40px;
    }
  }

  .img-holder {
    display: flex;
    flex-flow: row nowrap;

    .img-01,
    .img-02 {
      max-width: 300px;

      img {
        max-width: 100%;
        box-shadow: 0 2px 6px #d0d7da;
        border-radius: 2px;
        background-color: #ffffff;
      }
    }

    .img-02 {
      margin: 160px 0 0 20px;
    }

    &.one-img {
      .img-01 {
        max-width: 380px;
      }
    }
  }

  .list {
    margin: 60px 0 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 20px;

      a {
        display: flex;
        align-items: center;
        width: 296px;
        min-height: 56px;
        box-shadow: 0 6px 10px -3px #d0d7da;
        border-radius: 4px;
        background: #fff no-repeat 22px 50%;
        padding: 10px 50px 10px 15px;
        font-size: 15px;
        position: relative;
        font-family: "Averta - Semibold", sans-serif;
        transition: background-color 300ms linear;

        &:after {
          content: '';
          display: block;
          width: 18px;
          height: 12px;
          position: absolute;
          right: 22px;
          top: 50%;
          margin-top: -6px;
          background: url("../../../static/images/icos/ico-arrow-r.svg") no-repeat;
        }

        &:hover {
          background-color: lighten(#4668fd, 33%);
        }
      }
    }

    &.community-links {
      li {
        a {
          padding-left: 56px;

          &.forum {
            background-image: url("../../../static/images/icos/ico-forum.svg");
          }
          &.blog {
            background-image: url("../../../static/images/icos/ico-blog.svg");
          }
          &.support {
            background-image: url("../../../static/images/icos/ico-support.svg");
          }
        }
      }
    }

    &.events-list {
      li {
        a {
          padding-left: 0;
          width: 100%;
          max-width: 480px;

          .date {
            display: flex;
            width: 70px;
            flex: 0 0 70px;
            text-align: center;
            flex-flow: column wrap;
            color: #4668fd;
            font-size: 23px;
            font-family: "Averta Std - Bold", sans-serif;

            span {
              display: block;
              font-size: 12px;
              font-family: "Averta - Semibold", sans-serif;
            }
          }

          .wrap {
            color: #57687d;
            font-size: 12px;
            font-family: "Averta Std - Regular", sans-serif;
            width: calc(100% - 70px);

            span {
              display: block;
              color: #002e43;
              margin-bottom: 4px;
              font-size: 15px;

              font-family: "Averta - Semibold", sans-serif;
            }
          }
        }
      }
    }
  }
}

/* resolution less than 992px */
@media (max-width: 991px) {
  .community {
    .block-left,
    .block-right {
      padding: 70px 0 10px;
    }
    .block-left {
      .col-lg-5 {
        margin-top: 0;
      }
    }
    .block-right {
      .col-lg-5 {
        margin-top: 80px;
      }
    }

    .col-md-6 {
      &:first-child {
        padding-right: 5%;
      }
      &:last-child {
        padding-left: 5%;
      }
    }

    .img-holder {
      flex-direction: column;

      .img-01,
      .img-02 {
        max-width: 160px;
      }

      .img-02 {
        margin: 24px 0 0 115px;
      }

      &.one-img {
        align-items: flex-end;

        .img-01 {
          max-width: 280px;
        }
      }
    }
    .list {
      &.events-list {
        li {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

/* resolution less than 768px */
@media (max-width: 767px) {
  .community {
    .block-left,
    .block-right {
      padding: 60px 0 0;
    }

    .block-right {
      .col-lg-5 {
        margin-top: 0;
      }
    }

    .list {margin-top: 10px;}

    .col-md-6 {
      &:first-child {
        padding-right: 15px;
      }
      &:last-child {
        padding-left: 15px;
      }
    }

    .img-holder {
      margin: 20px auto 0;
      width: 280px;
    }
  }
}