.posts-menu {
  margin: 34px 0;
  width: 100%;

  .menu-body {
    position: relative;

    .back {
      display: none;
    }
  }

  .item-container {
    a {
      color: #002e43;
      font-size: 15px;
      display: block;
      text-transform: capitalize;
      padding: 8px 30px 8px 82px;
      position: relative;
    }

    a.active,
    &.active > a {
      font-family: "Averta - Semibold", sans-serif;
      font-size: 15px;
      background-color: rgba(80, 100, 236, 0.05);
    }

    .sub-menu {
      display: none;

      a {
        padding-left: 93px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          border: 0;
          left: 82px;
          width: 2px;
          height: 100%;
          background-color: rgba(80, 100, 236, 0.2);
        }

        &.active {

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            border: 0;
            left: 82px;
            width: 2px;
            height: 100%;
            background-color: #5064ec;
          }
        }
      }
    }

    &.open {
      .sub-menu {
        display: block;
      }
    }
  }
}

.Dropdown-root {
  .Dropdown-control {
    padding: 8px 30px 8px 82px;
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .Dropdown-placeholder {
      color: #4668fd;
      font-family: "Averta Std - Bold", sans-serif;
      font-size: 19px;
    }

    .Dropdown-arrow {
      border-color: #5064ec transparent transparent;
      border-width: 6px 6px 0;
      position: static;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  .Dropdown-option {
    padding-left: 82px;
  }

}
/* resolution less than 992px */
@media (max-width: 991px) {
  .posts-menu {
    margin-top: 69px;
    margin-bottom: 0;
    text-align: center;

    .menu-body {
      display: none;
    }
  }
  .Dropdown-root {
    .Dropdown-control {
      padding: 23px 15px;
      justify-content: center;
      border-bottom: 1px solid #d0d7da;
    }

    .Dropdown-option {
      padding-left: 0;
    }
  }
}
