.edgeworx {
  border-top: 1px solid #d0d7da;

  h5 {
    color: #57687d;
    line-height: 24px;
  }

  h3 {
    margin-bottom: 0;
    line-height: 1;
  }

  .button {
    border-radius: 4px;
    background-color: #5064ec;
    display: inline-block;
    padding: 12px 21px;
    color: #fff;
    font-family: "Averta Std - Bold", sans-serif;
    font-size: 14px;
    margin-top: 21px;
  }
}