.img-holder {
  max-width: 650px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  .entry {
    &__header {
      h4 {
        font-size: 23px;
        letter-spacing: 0.2px;
      }
    }
  }
}