@import './algolia.scss';

.header {
  border-bottom: 1px solid #d0d7da;
  position: relative;
  z-index: 1;

  & > .container {
    max-width: 100%;
    padding-right: 82px;
    padding-left: 82px;
    .row {
      height: 96px;
      align-items: center;
    }
  }

  .logo {
    a {
      display: inline-block;
      padding: 8px;
      width: 107px;
      box-sizing: content-box;
    }

    img {
      max-width: 100%;
    }
  }
  /* main-nav */
  .main-nav {
    .menu-opener {
      display: none;
      width: 23px;
      height: 20px;
      background: url("../../../static/images/icos/ico-menu.svg") no-repeat 50% 50%;
      border: none;
      padding: 10px;
      margin: -10px;
      outline: none;
      box-sizing: content-box;
    }

    .add-menu {
      display: none;
    }

    .main-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      & > li > a {
        padding: 0 14px;
        display: inline-block;
        text-decoration: none;
        color: #5064ec;
        font-size: 15px;
        font-weight: bold;

        position: relative;
        text-transform: capitalize;

        &.active:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: #5064ec;
          border-radius: 50%;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: -10px;
        }
      }
    }

    .sub-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      flex-flow: column nowrap;
    }

    .holder {
      .start-guide {
        position: absolute;
        bottom: 25px;
        right: 25px;
        color: #4668fd;
        font-weight: bold;
        font-size: 15px;
        display: none;

        span {
          position: relative;
        }

        span:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          display: block;
          border-top: 1px solid #26d6f1;
        }

        svg {
          fill: #26d6f1;
          font-size: 18px;
          margin-left: 15px;
        }
      }
    }
  }
  /* search */
  .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__wrapper {
      position: relative;
      padding-right: 20px;

      img {
        position: absolute;
        top: 12px;
        left: 12px;
        z-index: 1;
        width: 16px;
        height: 16px;
        pointer-events: none;
        cursor: pointer;
      }

      input {
        box-sizing: border-box;
        padding: 10px 16px 8px 38px;
        box-shadow: 0 6px 10px -3px #d0d7da;
        border-radius: 23px;
        background-color: #fff;
        border: none;
        height: 40px;
        width: 133px;
        color: #57687d;
        margin: 0;
        outline: none;
        border: 1px solid transparent;

        &:focus {
          width: 100%;
          box-shadow: 0 0 0 2px rgba(70, 104, 253, 0.6), 0 6px 10px -3px #d0d7da;
        }
      }
    }
  }

  &__github > svg {
    width: 26px;
    height: 26px;
  }
}
/* home */
.home {
  .header {
    border-bottom: none;

    &__github > svg {
      fill: white;
    }
  }
}

@media (min-width: 992px) {
  .home {
    .header {
      .search {
        &__wrapper {
          input {
            box-shadow: none;
          }
        }
      }
    }
  }
}

/* resolution less than 992px */
@media (max-width: 991px) {
  .home {
    .header {
      &__github > svg {
        fill: #4668fd;
      }
    }
  }

  .header {
    height: 68px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    & > .container {
      padding-left: 25px;
      padding-right: 25px;

      .row {
        height: 68px;
      }
    }
    /* logo */
    .logo {
      order: 2;
      text-align: center;

      a {
        width: 68px;
        margin-right: 5px;
      }
    }
    /* main-nav */
    .main-nav {
      order: 1;

      .menu-opener {
        display: block;
      }

      .holder {
        position: fixed;
        top: 45px;
        overflow: hidden;
        bottom: 0;
        left: -100%;
        right: 100%;
        background: #fff;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0 3px 3px 0 #d0d7da;
        opacity: 0;
        transition: left 0.3s linear,
                    right 0.3s linear,
                    opacity 0.3s linear;
      }

      .main-menu {
        overflow: auto;
        display: flex;
        flex-flow: column nowrap;
        max-height: 100%;

        & > li > a {
          color: #002e43;
          font-size: 23px;
          font-weight: bold;
          letter-spacing: 0.2px;
          margin-top: 30px;

          &.active:after {
            margin: -4px 0 0;
            left: 0;
            top: 50%;
          }
        }
      }

      .sub-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        flex-flow: column wrap;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 1;
        transition: all 0.3s linear;

        &.active {
          display: flex;
        }

        .back {
          height: 12px;
          width: 18px;
          overflow: hidden;
          text-indent: -9999px;
          border: none;
          padding: 10px;
          margin: -10px;
          box-sizing: content-box;
          background: url("../../../static/images/icos/ico-arrow-r.svg") no-repeat 50% 50%;
          position: absolute;
          top: 30px;
          left: 25px;
          transform: rotate(180deg);
          outline: none;
        }

        li {
          margin-top: 24px;
          font-size: 19px;
          padding-left: 60px;
          color: #002e43;

          &.active {
            & > a {
              font-weight: bold;
            }
          }

          a {
            color: inherit;

            &.active {
              font-weight: bold;
            }
          }

          &::first-letter {
            text-transform: capitalize;
          }
        }

        .wrap {
          display: flex;
          flex-flow: column wrap;

          a {
            margin: 5px 0 0 10px;
            font-size: 15px;
          }
        }
      }
    }
    /* search */
    .search {
      order: 2;

      &__wrapper {
        padding-right: 10px;

        input {
          font-size: 16px;
          width: 0px;
          padding-right: 0px;
          box-shadow: none;

          &:focus {
            padding-right: 38px;
            width: calc(100vw - 140px);
          }
        }
      }
    }
  }

  .page-wrapper {
    &.menu-opened {
      .menu-opener {
        background: url("../../../static/images/icos/ico-cross.svg") no-repeat 50% 50%;
      }

      .holder {
        opacity: 1;
        padding-bottom: 60px;
        left: 0;
        right: 0;
      }

      .search {
        display: none;
      }
    }
  }

  /* home */
  .home {
    .header {
      .main-nav {
        .holder {
          z-index: 1;

          &:after,
          &:before {
            content: '';
            position: absolute;
            z-index: -1;
          }

          &:after {
            left: 0;
            bottom: 0;
            width: 129px;
            height: 110px;
            background: url("../../../static/images/bg/bg-edge-left-tablet.svg") no-repeat;
          }
          &:before {
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 60px;
            height: 258px;
            background-image: url("../../../static/images/bg/bg-edge-right-mobile.svg");
          }

          .start-guide {
            display: block;
          }
        }
      }
    }
  }
}
