.header {
  border-bottom: 1px solid #d0d7da;
  position: relative;
  z-index: 1;

  & > .container {
    max-width: 100%;
    padding-right: 82px;
    padding-left: 82px;
    .row {
      height: 96px;
      align-items: center;
    }
  }

  .logo {
    a {
      display: inline-block;
      width: 105px;
    }

    img {
      max-width: 100%;
    }
  }
  /* main-nav */
  .main-nav {
    .menu-opener {
      display: none;
      width: 23px;
      height: 20px;
      background: url("/images/icos/ico-menu.svg") no-repeat 50% 50%;
      border: none;
      padding: 10px;
      margin: -10px;
      outline: none;
      box-sizing: content-box;
    }

    .add-menu {
      display: none;
    }

    .main-menu {
      a {
        padding: 0 14px;
        display: inline-block;
        text-decoration: none;
        color: #5064ec;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px;
        position: relative;
        text-transform: capitalize;

        &.active:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: #5064ec;
          border-radius: 50%;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: -10px;
        }
      }
    }
  }
  /* search */
  .search {
    text-align: right;

    &__wrapper {
      display: inline-flex;
      align-items: center;

      button[type="submit"] {
        border: none;
        background: url("/images/icos/ico-search.svg") no-repeat;
        background-size: cover;
        text-indent: -9999px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        padding: 0;
        margin-right: -28px;
        position: relative;
        z-index: 1;
        outline: none;
      }

      input[type="text"] {
        box-sizing: border-box;
        padding: 8px 16px 8px 38px;
        box-shadow: 0 6px 10px -3px #d0d7da;
        border-radius: 23px;
        background-color: #fff;
        border: none;
        font-size: 15px;
        line-height: 22px;
        height: 40px;
        width: 106px;
        color: #57687d;
        margin: 0;
        outline: none;
      }
    }
  }
}
/* home */
.home {
  .header {
    border-bottom: none;

    .search {
      &__wrapper {
        input[type="text"] {
          box-shadow: none;
        }
      }
    }
  }
}
/* resolution more than 1200px */
@media (min-width: 1200px) {
  .menu {
    text-align: center;
  }
}
/* resolution less than 992px */
@media (max-width: 991px) {
  .header {
    height: 68px;
    padding-top: 22px;
    padding-bottom: 21px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    & > .container {
      padding-left: 25px;
      padding-right: 25px;

      .row {
        height: auto;
        align-items: flex-start;
      }
    }
    /* logo */
    .logo {
      order: 2;
      text-align: center;

      a {
        width: 68px;
      }
    }
    /* main-nav */
    .main-nav {
      order: 1;

      .menu-opener {
        display: block;
      }

      .holder {
        position: fixed;
        top: 45px;
        max-height: calc(100vh - 45px);
        overflow: auto;
        left: -1000px;
        right: 1000px;
        background: #fff;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0 3px 3px 0 #d0d7da;
        opacity: 0;
        transition: left 0.3s linear,
                    right 0.1s linear,
                    opacity 0.3s linear;

        .main-menu {
          display: flex;
          flex-flow: column wrap;

          a {
            color: #002e43;
            font-family: "Averta Std - Bold", sans-serif;
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 0.2px;
            font-weight: normal;
            margin-top: 30px;

            &.active:after {
              margin: -4px 0 0;
              left: 0;
              top: 50%;
            }
          }
        }
      }

      .doc-menu {
        .main-menu {
          display: none;
        }
        .add-menu {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-flow: column wrap;

          .back {
            height: 12px;
            width: 18px;
            overflow: hidden;
            text-indent: -9999px;
            border: none;
            padding: 10px;
            margin: -10px;
            box-sizing: content-box;
            background: url("/images/icos/ico-arrow-r.svg") no-repeat 50% 50%;
            position: absolute;
            top: 23px;
            left: 20px;
            transform: rotate(180deg);
            outline: none;
          }

          li {
            margin-top: 20px;

            a {
              color: #002e43;
              font-family: "Averta Std - Regular", sans-serif;
              font-size: 19px;
              line-height: 24px;
              padding-left: 45px;

              &.active {
                font-family: "Averta Std - Bold", sans-serif;
              }
            }

            &::first-letter {
              text-transform: capitalize;
            }
          }

          .wrap {
            display: flex;
            flex-flow: column wrap;

            a {
              margin: 5px 0 0 10px;
              font-size: 15px;
            }
          }
        }
        &.menu-active {
          .main-menu {
            display: flex;
          }
          .add-menu {
            display: none;
          }
        }
      }
    }
    /* search */
    .search {
      order: 2;

      &__wrapper {
        button[type="submit"] {
          margin: 0;
          height: 20px;
          width: 20px;
        }
        input[type="text"] {
          display: none;
        }
      }
    }
  }

  .wrapper {
    &.menu-opened {
      .menu-opener {
        background: url("/images/icos/ico-cross.svg") no-repeat 50% 50%;
      }

      .holder {
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}