.who-using {
  padding-top: 80px;
  padding-bottom: 60px;

  .sections__header {
    text-align: center;
  }

  .logos__container {
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;

    div {
      font-family: "Averta - Semibold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }
  }
}

.white-paper {
  &__container {
    display: flex;
    box-shadow: 0 6px 10px -3px #d0d7da;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 800px;
  }

  &__logo {
    width: 360px;
    background: url("/images/logos/logo-white-paper.png") no-repeat 50% 50%;
  }

  &__description {
    width: 440px;
    padding: 30px 40px;

    .title {
      font-family: "Averta Std - Bold", sans-serif;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 15px;
    }

    .title__sub {
      color: #57687d;
      font-family: "Averta - Semibold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 24px;
      letter-spacing: 0.9px;
      margin: 0 0 15px;
    }

    .description {
      font-size: 15px;
      line-height: 24px;
    }

    a {
      color: #4668fd;
      font-family: "Averta - Semibold", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media (max-width: 991px) {
  .white-paper {
    &__logo {
      width: 310px;
    }
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  .who-using {
    padding-top: 40px;
    padding-bottom: 40px;

    .sections__header {
      text-align: left;
    }

    .logos__container {
      text-align: left;
      padding-top: 0;
      padding-bottom: 0;

      & > * {
        padding-top: 30px;
      }
    }

    .white-paper {
      &__container {
        margin-top: 60px;
        max-width: 272px;
        flex-flow: column wrap;
      }
      &__logo {
        max-width: 272px;
        height: 180px;
        background-position: 50% 30%;
      }
      &__description {
        width: 100%;
      }
    }
  }
}