.who-using {
  padding: 80px 0 60px;

  .logos__container {
    margin: 60px 0 100px;
    text-align: center;
    div {
      font-family: "Averta - Semibold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }
  }
}

.white-paper {
  &__container {
    display: flex;

    box-shadow: 0 6px 10px -3px #d0d7da;
    border-radius: 4px;
    background-color: #ffffff;

    margin: 0 auto;
    width: 800px;
  }

  &__logo {
    width: 360px;
  }

  &__description {
    width: 440px;
    padding: 30px 40px;

    .title {
      font-family: "Averta Std - Bold", sans-serif;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 15px;
    }

    .title__sub {
      color: #57687d;
      font-family: "Averta - Semibold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 24px;
      letter-spacing: 0.9px;
      margin: 0 0 15px;
    }

    .description {
      font-size: 15px;
      line-height: 24px;
    }

    a {
      color: #4668fd;
      font-family: "Averta - Semibold", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }
  }
}