.about {
  padding: 60px 0;

  .sections__header {
    max-width: 600px;
    margin: 0 auto;

    a {
      color: #4668fd;
      font-family: "Averta - Semibold", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }
  }
}