.footer {
  border-top: 1px solid #d0d7da;
  color: #57687d;
  padding: 40px 0;

  &__main {
    position: relative;
    font-size: 12px;

    img {
      width: 68px;
    }

    .description {
      margin: 8px 0;
    }
  }

  &__links {
    .chevron::before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.15em;
      position: relative;
      top: 0.45em;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      vertical-align: top;
      width: 0.45em;
    }

    .chevron.right:before {
      left: 0;
      transform: rotate(45deg);
      margin-right: 5px;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin: 0 0 5px;
    }

    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    div {
      margin-bottom: 10px;
    }

    a {
      color: #57687d;
      text-decoration: none;
    }
  }

  &__by {
    .item {
      margin-bottom: 8px;
    }

    .enwg {
      margin-left: -6px;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin: 0 0 2px;
    }

    img {
      // height: 18px;
      max-width: 101px;
    }
  }

  &__follow {
    a {
      margin-right: 20px;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin: 0 0 2px;
    }

    svg {
      fill: #57687d;
      font-size: 19px;
    }
  }
}

/* resolution less than 768px */
@media (max-width: 767px) {
  .footer {
    &__links {
      margin: 30px 0;
    }

    &__follow {
      margin-top: 30px;
    }

    &__copyright {
      position: static;
      margin-top: 30px;
    }
  }
}
