.footer {
  border-top: 1px solid #d0d7da;
  color: #57687d;
  padding: 40px 0;

  &__main {
    position: relative;

    img {
      width: 68px;
    }

    .description {
      font-size: 14px;
      margin: 15px 0;
    }
  }

  &__copyright {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 15px;
  }

  &__links {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.9px;

    div {
      margin-bottom: 10px;
    }

    a {
      color: #57687d;
      text-decoration: none;
    }
  }

  &__by {
    .item {
      margin-bottom: 8px;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin: 0 0 2px;
    }

    img {
      height: 18px;
    }
  }

  &__follow {
    h4 {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin: 0 0 2px;
    }

    svg {
      fill: #57687d;
      font-size: 19px;
      margin-right: 20px;
    }
  }
}

/* resolution less than 768px */
@media (max-width: 767px) {
  .footer {
    &__links {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &__by {
      display: flex;
      flex-flow: row wrap;

      .item {
        margin-bottom: 0;

        &:first-child {
          margin-right: 40px;
        }
      }
    }

    &__follow {
      margin-top: 40px;
    }

    &__copyright {
      position: static;
      margin-top: 40px;
    }
  }
}