.edge {
  padding-top: 129px;
  height: 446px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 174px;
    height: 174px;
    background: url("../../../static/images/bg/bg-edge-left.svg") no-repeat;
    z-index: -1;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 358px;
    height: 542px;
    background: url("../../../static/images/bg/bg-edge-right.svg") no-repeat;
    z-index: -1;
  }
}

.promo {
  margin-top: 25px;

  h1 {
    color: #4668fd;
    letter-spacing: -0.2px;
  }

  p {
    font-size: 19px;
    margin: 0;
    max-width: 450px;
  }
}

.code {
  &__container {
    color: #5064ec;
    font-size: 13px;

    a {
      font-weight: bold;
      font-size: 15px;

      span {
        position: relative;
      }

      span:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        display: block;
        border-top: 1px solid #26d6f1;
      }

      svg {
        fill: #26d6f1;
        font-size: 18px;
        margin-left: 15px;
      }
    }
  }

  &__content {
    position: relative;
    box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    background-color: #fff;
    padding: 14px;
    margin-bottom: 20px;

    p {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
    }

    p + p {
      margin-top: 4px;
    }
  }

  &__noselect {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
}
/* resolution less than 992px */
@media (max-width: 991px) {
  .edge {
    padding-top: 62px;
    height: 315px;

    &:after {
      width: 129px;
      height: 110px;
      background: url("../../../static/images/bg/bg-edge-left-tablet.svg") no-repeat;
    }

    &:before {
      width: 123px;
      height: 338px;
      bottom: -22px;
      background-image: url("../../../static/images/bg/bg-edge-right-tablet.svg");
    }
  }

  .promo {
    margin-top: 14px;

    h1 {
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 0.2px;
    }

    p {
      color: #002e43;
      font-size: 15px;
    }
  }

  .code {
    &__container {
      a {
        span {
          position: relative;
        }

        span:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          display: block;
          border-top: 1px solid #26d6f1;
        }

        svg {
          fill: #26d6f1;
          font-size: 18px;
          margin-left: 15px;
        }
      }
    }

    &__content {
      border-radius: 4px;
      padding: 24px 17px;

      p {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  .edge {
    padding-top: 70px;
    height: 500px;

    &:before {
      width: 60px;
      height: 258px;
      bottom: 120px;
      background-image: url("../../../static/images/bg/bg-edge-right-mobile.svg");
    }
  }
  .promo {
    margin-top: 0;

    p {
      max-width: 350px;
    }
  }

  .code {
    &__container {
      margin-top: 40px;

      .holder {
        float: left;
      }
    }

    &__content {
      width: 100%;
      border-radius: 4px;
      padding: 24px 18px;

      p {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}