@import './bootstrap-no-print.scss';

@font-face {
  font-family: 'Averta';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Averta/37D7FF_0_0.eot');
  src: url('../fonts/Averta/37D7FF_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Averta/37D7FF_0_0.woff2') format('woff2'), url('../fonts/Averta/37D7FF_0_0.woff') format('woff'), url('../fonts/Averta/37D7FF_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Averta';
 font-weight: bold;
 font-style: italic;
 src: url('../fonts/Averta/37D7FF_1_0.eot');
 src: url('../fonts/Averta/37D7FF_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/Averta/37D7FF_1_0.woff2') format('woff2'),url('../fonts/Averta/37D7FF_1_0.woff') format('woff'),url('../fonts/Averta/37D7FF_1_0.ttf') format('truetype');
}

@font-face {
 font-family: 'Averta';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/Averta/37D7FF_2_0.eot');
 src: url('../fonts/Averta/37D7FF_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/Averta/37D7FF_2_0.woff2') format('woff2'),url('../fonts/Averta/37D7FF_2_0.woff') format('woff'),url('../fonts/Averta/37D7FF_2_0.ttf') format('truetype');
}

@font-face {
 font-family: 'Averta';
 font-weight: normal;
 font-style: italic;
 src: url('../fonts/Averta/37D7FF_3_0.eot');
 src: url('../fonts/Averta/37D7FF_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/Averta/37D7FF_3_0.woff2') format('woff2'),url('../fonts/Averta/37D7FF_3_0.woff') format('woff'),url('../fonts/Averta/37D7FF_3_0.ttf') format('truetype');
}

body {
  font-family: 'Averta', sans-serif;
  color: #002e43;
  line-height: 1.55;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {font-size: 46px;}

h2 {
  font-size: 37px;
  letter-spacing: -0.2px;
}

h3 {font-size: 29px;}

h4 {font-size: 23px;}

h5 {font-size: 19px;}

h6 {font-size: 15px;}

.bg-grey {
  background-color: #fafcff;
}

a {
  text-decoration: none !important;
}

/* sticky footer */
.page-wrapper {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  .header {
    flex: 0 0 auto;
  }

  .container {
    flex: 1 1 100%;
  }

  .footer {
    flex: 0 0 auto;
  }
}
/* sections */
.sections {
  &__header {
    h6 {
      color: #57687d;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
    }

    a.button {
      margin-top: 15px;
    }
  }
}
/* entry */
.entry {
  padding-top: 60px;
  padding-bottom: 30px;

  &__header {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;

    h6 {
      color: #57687d;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 19px;
    }
  }
}
/* common */
.button {
  border-radius: 4px;
  background-color: #5064ec;
  display: inline-block;
  padding: 12px 21px;
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    transition: 0.6s all ease;
    background-color: #4b5edb;
  }
}
/* resolution less than 992px */
@media (max-width: 991px) {
  .page-wrapper {
    padding-top: 68px;
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  /* entry */
  .entry {
    padding-top: 60px;
    padding-bottom: 30px;

    &__header {
      max-width: 670px;
      margin: 0 auto;
      text-align: left;

      h2 {
        font-size: 29px;
      }

      h4 {
        font-size: 23px;
        letter-spacing: 0.2px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}
