.run-software {
  padding: 60px 0;

  .sections__header {
    max-width: 630px;
    margin: 0 auto;
  }

  .icons {
    &__container {
      margin-top: 60px;

      .icon {
        &__container {
          display: flex;

          img {
            margin-right: 15px;
            margin-top: -5px;
          }

          h4 {
            color: #bd10e0;
            font-family: "Averta - Semibold", sans-serif;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.9px;
            margin: 0;
          }
        }
      }

      h6 {
        margin: 10px 0;
      }
    }
  }
}