.run-software {
  padding: 60px 0;

  .sections__header {
    max-width: 630px;
    text-align: center;
    margin: 0 auto;
  }

  .icons {
    &__container {
      margin-top: 60px;

      .icon {
        &__container {
          display: flex;

          img {
            margin-right: 15px;
            margin-top: -5px;
          }

          h4 {
            color: #bd10e0;
            font-family: "Averta - Semibold", sans-serif;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.9px;
            margin: 0;
          }
        }
      }

      p {
        font-size: 15px;
      }

      h6 {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .run-software {
    padding-top: 40px;
    padding-bottom: 40px;

    .sections__header {
      p {
        max-width: 390px;
        margin: 0 auto;
      }
    }
  }
}
/* resolution less than 768px */
@media (max-width: 767px) {
  .run-software {
    .sections__header {
      text-align: left;

      p {
        margin: 0;
      }
    }

    .icons {
      &__container {
        margin-top: 0;

        .icon {
          &__container {
            margin-top: 40px;
          }
        }
      }
    }
  }
}