@font-face {
  font-family: 'Averta Std - Bold';
  src: url('/fonts/averta/AvertaStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Std - Regular';
  src: url('/fonts/averta/AvertaStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta - Semibold';
  src: url('/fonts/averta/AvertaStd-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Averta Std - Regular', sans-serif;
  color: #002e43;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Averta Std - Bold", sans-serif;
  font-weight: normal;
}

h1 {font-size: 46px;}

h2 {
  font-size: 37px;
  line-height: 46px;
  letter-spacing: -0.2px;
}

h3 {font-size: 29px;}

h4 {font-size: 23px;}

h5 {font-size: 19px;}

h6 {font-size: 15px;}

.bg-grey {
  background-color: #fafcff;
}

a {
  text-decoration: none !important;
}

/* sticky footer */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  .header {
    flex: 0 0 auto;
  }

  .container {
    flex: 1 1 100%;
  }

  .footer {
    flex: 0 0 auto;
  }
}
/* sections */
.sections {
  &__header {
    h6 {
      color: #57687d;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-family: "Averta Std - Regular", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }

    a.button {
      margin-top: 15px;
    }
  }
}
/* entry */
.entry {
  padding-top: 60px;
  padding-bottom: 30px;

  &__header {
    max-width: 670px;
    margin: 0 auto;

    h6 {
      color: #57687d;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-family: "Averta Std - Regular", sans-serif;
      font-size: 19px;
      line-height: 30px;
    }
  }
}
/* common */
a.button {
  border-radius: 4px;
  background-color: #5064ec;
  display: inline-block;
  padding: 12px 21px;
  color: #fff;
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 14px;
}