@font-face {
  font-family: 'Averta Std - Bold';
  src: url('/fonts/averta/AvertaStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta Std - Regular';
  src: url('/fonts/averta/AvertaStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta - Semibold';
  src: url('/fonts/averta/AvertaStd-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Averta Std - Regular', sans-serif;
  color: #002e43;
}

h1 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 46px;
}

h2 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 37px;
  line-height: 46px;
  letter-spacing: -0.2px;
}

h3 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 29px;
}

h4 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 23px;
}

h5 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 19px;
}

h6 {
  font-family: "Averta Std - Bold", sans-serif;
  font-size: 15px;
}

.bg-grey {
  background-color: #fafcff;
}

a {
  text-decoration: none !important;
}

.sections {
  &__header {
    h6 {
      color: #57687d;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-family: "Averta Std - Regular", sans-serif;
      font-size: 15px;
      line-height: 24px;
    }

    a.button {
      border-radius: 4px;
      background-color: #5064ec;
      display: inline-block;
      padding: 12px 21px;
      color: #fff;
      font-family: "Averta Std - Bold", sans-serif;
      font-size: 14px;

      margin-top: 15px;
    }
  }
}